---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}
  {% if page.citation %}
    <!-- <hr>
    <h2>Citation</h2>
    <p>
      {{ page.citation_author }}. ({{ page.date | date: "%Y, %B %d" }}). {{ page.title }}. Retrieved from {{ page.url | absolute_url }}
    </p> -->
  {% endif %}
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
